.slider-container {
    max-width: 1080px; /* Adjust width as per your design */
    margin: 0 auto;
  }
  
  .testimonial-card {
    margin: 0 10px; /* Adjust margin between cards */
    padding: 10px;
  }
  
  .card-content {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: white;
    box-shadow: inset;


  }
  
  .card-image {
    width: 100%; /* Adjust image width */
    height: 250px; /* Maintain aspect ratio */
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 1rem;
    color: #555;
  }
  
  .card-rating {
    margin-top: 10px;
  }
  