.vertical-card-slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.vertical-card-slider-outer {
  display: flex;
  transition: transform 2s ease-in-out;
}

.vertical-card-slider-card {
  flex: 0 0 50%; /* Display two cards at a time */
  padding: 20px;
  transition: transform 2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px; /* Fixed height for all cards */
  width: 100%; /* Ensure the card takes up the full width */
  /* box-sizing: border-box; Include padding in the height/width */
}

.vertical-card-slider-card .content {
  /* background: linear-gradient(to right, #3C6EDD, #264790); /* Gradient background */
  border-radius: 20px; 
  padding: 20px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Make content fill the card height */
  width: 100%; /* Make content fill the card width */
  /* box-sizing: border-box; */
}

.vertical-card-slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

.vertical-card-slider-button.left {
  left: 10px;
  color: white !important;
}

.vertical-card-slider-button.right {
  right: 10px;
  color: white !important;
}

/* Add a vertical border between the two cards */
.vertical-card-slider-card:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 10%;
  bottom: 10%;
  width: 2px;
  background-color: white; /* Border color */
}

/* Image styling */
.imgContainer {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  text-align: center;
  margin-top: 10px;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
}

p {
  margin: 5px 0;
}
.img { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start; 
  width: 100%;
}