
.wrapper {
  max-width: 1080px; /* Set maximum width to 1080px */
  overflow: hidden; /* Hide overflow to prevent horizontal scroll */
  margin: 0 auto; /* Center align the wrapper horizontally */
}

.wrapper .outer {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensure cards are contained within the wrapper */
}

.wrapper .card {
  background: #fff;
  max-width: 100%; /* Ensure card does not exceed viewport width */
  width: 430px; /* Adjust based on your design */
  height: 200px; /* Increase height of the card */
  display: flex;
  align-items: center;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  position: relative;
  justify-content: space-between;
  border-radius: 100px 20px 20px 100px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  animation: animate 15s linear infinite; /* Adjust animation duration and timing function */
  animation-delay: calc(3s * var(--delay));
  transform: translateX(100%); /* Start cards off-screen */
}

.outer:hover .card {
  animation-play-state: paused;
}

.wrapper .card:last-child {
  animation-delay: calc(-3s * var(--delay));
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0.5); /* Start off-screen */
  }
  5%, 20% {
    opacity: 0.4;
    transform: translateX(0%) scale(0.7); /* Slide in */
  }
  25%, 40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%) scale(1); /* Full display */
  }
  45%, 60% {
    opacity: 0.4;
    transform: translateX(-100%) scale(0.7); /* Slide out */
  }
  65%, 100% {
    opacity: 0;
    transform: translateX(-100%) scale(0.5); /* Off-screen */
  }
}

.card .content {
  display: flex;
  align-items: center;
}

.wrapper .card .img {
  height: 150px; /* Adjust image container height */
  width: 150px;
  position: relative; /* Change to relative */
  flex-shrink: 0; /* Prevent image from shrinking */
  margin-right: 20px; /* Adjust margin as needed */
}

.card .img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card .details {
  flex: 1; /* Expand details to fill remaining space */
}

.details span {
  font-weight: 600;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
  transition: all 0.3s ease;
}

.card a:hover {
  transform: scale(0.94);
}
